<html>
   <head>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
   </head>
   <body>
      <h1>New Studio</h1>
      <form action="#" method = 'post'>
         <p>Name:</p>
         <input type ='text' size='30' name='name'>
         <p>Founded Date:</p>
         <input type ='text' size='30' name='founded_date'>
         <p>Founder:</p>
         <input type ='text' size='30' name='founder'>
         <input type='submit' value='Create'>
      </form>
   </body>
</html>